/* Write code for your CSS here */

/* .App{
    margin: 100px 100px;
} */

.Hero{
    margin-left: 40px;
    margin-top: 120px;
    font-size: 20px;
}
.dots{
    list-style-type: none;
}

.dots li{
    display: inline-block;
    margin-right: 25px;
    padding-top: 10px ;
    margin-top: 30px;
    font-size: 20px;
}

.dots li span{
    background-color: aqua;
    padding: 10px;
    border: 1px solid aqua;
    border-radius: 5px;
}

.About{
    margin-top: 60px;
    margin-left: 40px;
    font-size: 20px;
    word-spacing: 10px;
}
